<div class="container mt-4">
    <h2>Counter App</h2>
    <button class="btn btn-primary"  (click)="resetCounters()">Reset</button>
    &nbsp;
    <button class="btn btn-primary me-2" (click)="addCounter()">Add </button>

    <!-- <div *ngFor="let counter of counters$ | async" class="mt-2"> -->
      <div *ngFor="let counter of counters$ | async " class="mt-2">
      <b class="btn btn-primary">{{ counter.count }}</b> &nbsp;
      <button class="btn btn-secondary me-2" (click)="increment(counter)">Increment</button>
      <button class="btn btn-secondary me-2"   (click)="decrement(counter)">Decrement</button>
      <button class="btn btn-danger" (click)="deleteCounter(counter)">Delete</button>
    </div>
  </div>
  




  
  
  