<div class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      SimpleChat
    </div>
  </header>

  <main class="msger-chat">

    <div *ngFor="let msg of http.send_message()" [ngClass]="{'msg-left': msg.side === 'left', 'msg-right': msg.side === 'right'}" class="msg">
      <div class="msg-img" [ngStyle]="{'background-image': 'url(' + msg.img + ')'}"></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">{{ msg.name }}</div>
          <div class="msg-info-time">{{ msg.time }}</div>
        </div>

        <div class="msg-text">
          {{ msg.text }}
        </div>
      </div>
    </div>
  </main>

  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="msger-inputarea">
    <input type="text" formControlName="message" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</div>
