
<div class="container">
  <div class="row">
    <div>
      <h4>Weather App</h4>
    </div>
    <div class="col-4">
      <div class="left-panel">
        <div class="d-flex">
          <input type="text" [(ngModel)]="cityName" placeholder="Type city name" class="form-control">
          <button (click)="addCity()" class="btn btn-primary">+</button>
        </div>
        <hr>
        <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
        <div *ngIf="cities?.length !== 0">
          <input type="text" class="form-control" placeholder="Recent Locations">
        </div>
        <div *ngFor="let city of cities" (click)="selectCity(city)">
          <div class="underline mt-2">
            <div>
              <h5>{{ city.name }} - {{ city.temperature }}°C</h5>
            </div>
            <div>
              <span class="refresh-icon" (click)="refreshCity(city, $event)">
                <i class="bi bi-arrow-clockwise"></i>
              </span>
              <span class="close-icon ms-3" (click)="removeCity(city, $event)">
                <i class="bi bi-x-circle"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="w-100 d-flex justify-content-end mt-2">
          <button (click)="clearCities()" class="btn btn-secondary text-end">Clear</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="right-panel">
      <div class="d-flex justify-content-between">
        <div>
          <h4>{{ selectedCity?.name }}</h4>
        </div>
        <div>
          <span class="close-icon ms-3" >
            <i class="bi bi-arrow-clockwise"></i>
          </span>
        </div>
      </div>
      <div class="d-flex">
          <div>
            <img [src]="selectedCity?.icon" alt="Weather icon">
          </div>
         <div class="ms-4 me-4">
          <p *ngIf="forecast">
            Wind: {{ forecast.list?.[0]?.wind?.speed }} m/s, {{ forecast.list?.[0]?.wind?.deg }}°
          </p>
          <p *ngIf="forecast">
            Pressure: {{ forecast.list?.[0]?.main?.pressure }} hPa
          </p>
          <p *ngIf="forecast">
            Description: {{ forecast.list?.[0]?.weather?.[0]?.description }}
          </p>
        </div>   
      </div> 

      <!-- <div class="d-flex" *ngFor="let day of forecast.list | slice:0:5">
        <div class="d-flex flex-column align-items-center me-3">
          <p>{{ day.dt_txt | date:'EEE' }}</p>
          <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0].icon + '.png'" alt="Weather icon" width="30">
          <p>{{ day.main.temp }}°C</p>      
         </div>
      </div>  -->
      </div>
    </div>
  </div>
</div>

